.card{
    cursor: pointer;
    transition: all 200ms ease-in-out;
    margin-top: 1em;
}

.card:hover{
    background-color: var(--color-primary);
    opacity: .8;
    color: var(--color-secondary)
}

#active{
    background-color: var(--color-primary);
    color: var(--color-secondary)
}

